<h1>Showing selected article details</h1>
<hr  style="height:5px; background-color: blue; width:100%;" class="line1">
<p><strong>Title: </strong> <%= @article.title %></p>

<p><strong>Description: </strong> <%= @article.description %></p>

