#para1 {
    color: rebeccapurple;
    font-family: inherit;
    /*font-size-adjust: inherit;*/
}

#para2 {
    color: rebeccapurple;
    font-family: inherit;
    /*font-size-adjust: inherit;*/
}

text_field {
    background: powderblue;
}

#h1 {
    color: rebeccapurple
}

.underline {
    text-decoration: underline;
}